<% if (user_signed_in? && (current_user.id == @charity.user_id)) %>
<div class="container">

 <div class = "col-md-12">
      <h2>Edit Charity Details for <font color="blue"><%= @charity.name.capitalize%></font></h2><br>

<div class = "col-md-6">
    <%= simple_form_for @charity, html: { class: 'form-horizontal' },
  wrapper: :horizontal_form,
  wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
  } do |form| %>
    <%= form.input :name, label: "Charity Name" %>
     <%= form.input :image %>
    <%= form.input :website %>
      <%= form.input :donate_link %>
      <%= form.input :overview %>
      <%= form.input :real, :label => "Is this a real charity yet?", as: :radio_buttons, :collection => [['This is a real charity.', true], ['This is an idea for a charity.', false]] %>
      <%= form.association :category, label_method: :name %>   
      <%= form.submit class: 'btn btn-default' %>
      </div>
  <% end %> 

  </div>

  </div>
  <% else %>
  <div class="container">
  You must <%= link_to "login", new_user_session_path
   %> or <%= link_to "create a profile", new_user_registration_path
   %> to edit your charity.
      <%end%>
   </div>



