<% if (user_signed_in? && (current_user.id == @charity.user_id)) %>
<div class="container">
  <div class = "col-md-12">

  <h2> Build a New Charity Profile </h2>
    <%= simple_form_for @charity, html: { class: 'form-horizontal' },
  wrapper: :horizontal_form,
  wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
  } do |form| %>
    
      <%= form.input :name, label: "Charity Name", placeholder: "Your charity's name" %>
      <%= form.input :image, class: 'btn btn-default' %>
      <%= form.input :website, placeholder: "Website url" %>
      <%= form.input :donate_link, placeholder: "The link to donate directly to your charity" %>
      <%= form.input :overview, placeholder: "A brief overview of what your charity does" %>
      <%= form.input :real, :label => "Is this a real charity yet?", as: :radio_buttons, :collection => [['This is a real charity.', true], ['This is an idea for a charity.', false]] %>
      <%= form.association :category, label_method: :name %>

      <%= form.simple_fields_for @geocharitable do |g| %>
        <%= g.association :city, label_method: :name %> 
        <%= g.association :charity, id: @charity.id %> 
      <% end %>

      <%= form.submit class: 'btn btn-default' %>
    <% end %> 
  </div>

  </div>
  <% else %>
  <div class="container">
  You must <%= link_to "login", new_user_session_path
   %> or <%= link_to "create a profile", new_user_registration_path
   %> to build a new charity.
   </div>
   <%end%>