<div class="container">
  <% flash[:message] %>
  <center>
     <h2><%= @charity.name.capitalize %></h2>
     </center>
  <div class="col-md-3">
    <h2><%= @charity.name.capitalize %></h2>
    <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>like  <br>

  Website:<%= link_to @charity.website, @charity.website, target: "_blank" %>

About:<%= @charity.overview %>

    <% if @charity.real == true %>
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> This is a real charity.  <br>
      (HumanityList is also for posting ideas for possible charities! Post yours here!)
    <% elsif @charity.real == false %>
      <%= "This is an idea for a charity." %>  
    <% end %>
  
<% if  @charity.category %>
  <h3>Category</h3>

  <%= @charity.category.name %>

  <% end %>
</div>


  

  <div class="col-md-9">
<%= link_to "Post a new listing", new_charity_post_path(@charity.id), class: "btn btn-default" %>
</div>
  <h3><%= t('.about') %> <%= @charity.name %></h3>

  <%= image_tag @charity.image, width: 100 %>



<div class="row">

  <h3><%= t('.volunteer') %></h3>

  <%= link_to t('.volunteer_link'), charity_posts_path(@charity.id) %>

  
</div>
<div class="row">
 
  <h3><%= t('.donations') %></h3>

  <span class="glyphicon glyphicon-gift" aria-hidden="true"></span> <%= link_to t('.donation_link_text'), @charity.donate_link, target: "_blank" %>

</div>
<div class="row">

  <%= link_to t('.edit_charity_text'), edit_charity_path(@charity.id) %>&nbsp;

  <%= link_to t('.delete_charity_text'), {action: :destroy, id: @charity.id}, method: :delete %>&nbsp;
  </div>

</div>