<div class="container">
  <%= flash[:message] %>

  <div class="col-md-4">
  <% if @charity.image_file_name != nil %>
   <%= image_tag @charity.image, width: 100 %>
   <% else %>
   <%= image_tag("heart_copy.png" ,size: "100x100" )%>
   <% end %>
  </div>

  <div class="col-md-4">
      <h3><%= @charity.name.capitalize %></h3><br>
      <h5>Website: <%= link_to @charity.website, @charity.website, target: "_blank" %><br>
      About: <%= @charity.overview %><br>
      Category: <%= @charity.category.name %><br>
      City: <%= @charity.city.name%><br><br>
      <span class="glyphicon glyphicon-gift" aria-hidden="true"></span> Donate: <%= @charity.donate_link %><br></h5>
      <hr>
      <h4>Volunteer Opportunities:</h4>
        <% if @charity.posts.count > 0 %>
          <% @charity.posts.each do |p| %>
            <h5> <%= p.title %> </h5>
          <% end %>
          <%= link_to "All Opportunities", charity_posts_path(@charity.id) %>
        <% else %>
          <h5> No HumanityList posts yet! Visit the <a href=<%= @charity.website %>> website</a></h5>
        <% end %>
  </div>


  <div class ="col-md-4">
    <% if user_signed_in? %>
        <% if @charity.user %>
        <% if @charity.user.id == current_user.id %>
          <%= link_to "Make a new post", new_charity_post_path(@charity.id) %><br>
          <%= link_to "Edit charity profile", edit_charity_path(@charity.id) %>
        <% end %>
        <% end %>
    <% end %>
  </div>
</div>

<!-- ddlkmkefkwnkwenfweklfnwfnwlkefnlwkenlfkwnflwkenflwkfnlwkenflwkenflwkfnlwkenfl-->
<!-- <div class="row">
<div class="col-md-2">
  <%= image_tag @charity.image, width: 100 %>
  </div>
  <div class="col-md-10">

     <h2><%= @charity.name.capitalize %></h2>
        <% if @charity.real == true %>
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> This is a real charity.  <br>
      (HumanityList is also for posting ideas for possible charities! Post yours here!)
    <% elsif @charity.real == false %>
      <%= "This is an idea for a charity." %>  
    <% end %>
    <br>

   <%= link_to "Post a new listing", new_charity_post_path(@charity.id), class: "btn btn-default" %>
     </div>
     </div>
<hr>
<div class="col-md-4">

  <h3>Website:</h3><%= link_to @charity.website, @charity.website, target: "_blank" %>

  <h3>About:</h3><%= @charity.overview %>

<h3>Category</h3>

  <%= @charity.category.name %>

  <h3>City</h3>


  <% #geo = Geocharitable.where(charity_id: @charity.id) %>
  <% #City.find(id: geo.city_id).name %>

</div>

  <div class="col-md-4">

  <h3><%= t('.volunteer') %></h3>

  <%= link_to t('.volunteer_link'), charity_posts_path(@charity.id) %>

 <h3><%= t('.donations') %></h3>

  <span class="glyphicon glyphicon-gift" aria-hidden="true"></span> <%= link_to t('.donation_link_text'), @charity.donate_link, target: "_blank" %><br><br><br>
  
  <%= link_to t('.edit_charity_text'), edit_charity_path(@charity.id) %>&nbsp;

  <%= link_to t('.delete_charity_text'), {action: :destroy, id: @charity.id}, method: :delete %>&nbsp;


</div>
<div class ="col-md-4">
<h3>Volunteer Opportunities:</h3>
  <% if @charity.posts.count > 0 %>
  <% @charity.posts.each do |p| %>
  <h5> <%= p.title %> </h5>
    <% end %>
  <% else %>
  <h5> No posts yet! Visit the <a href=<%= @charity.website %>> website</a></h5>
  <% end %>
  </div>

</div> -->