
<div class = "container">
	<h3> on: <%= @post.updated_at.month%> / <%= @post.updated_at.day %>  - 
 		<%= @post.title %> </h3> <br>
		<h4><%= @post.content %></h4>
		<h4> posted by: <%= link_to @post.charity.name, charity_path(@post.charity.id) %></h4>
		<h4> contact: </h4>

<hr>

<%= link_to "Edit this post", edit_charity_post_path(@charity, @post.id) %><br>

<%= link_to "Delete this post", {action: :destroy, id: @post.id}, method: :delete %>



</div>
